{ erl_opts, [ debug_info, warnings_as_errors ] }.
{ lib_dirs, [ "deps" ] }.
{ sub_dirs, [ "rel" ] }.
{ src_dirs, [ "src", "test" ] }.

{ port_sources, [ "c_src/*.c" ] }.
{ cover_enabled, true }.

% Of course paths shall be set according to any other non-standard install:
{ port_env, [
			  { "CC", "h5cc" },

			  % Ensure h5cc and friends can be found:
			  { "PATH", "/home/boudevil/Software/HDF/hdf5-current-install/bin:$PATH" },

			  % So that priv/erlhdf5.so embeds a direct link to the path
			  % containing the HDF5 libraries of interest:
			  { "LDFLAGS", "-Wl,-rpath=/home/boudevil/Software/HDF/hdf5-current-install/lib -shlib -L/home/boudevil/Software/HDF/hdf5-current-install/lib" },

			  { "DRV_CFLAGS", "-g -Wall -fPIC $ERL_CFLAGS" }

			]
}.

{ port_specs, [ { "priv/erlhdf5.so", [ "c_src/*.c" ] } ] }.
